@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2 , 1fr);
    }

    .section-luxury {
        grid-column: span 2;
    }
}

@media screen and (max-width: 670px){
    .container {
        grid-template-columns: 1fr;
    }

    .section-luxury {
        grid-column: span 1;
    }

    .btn:link,
    .btn:visited {
        margin-top: 2rem;
    }
}